a, a:hover {
    text-decoration: none !important;

    .square {
        background-color:white;
        height: 50vh;
        text-align: center;
        opacity: 0.6;

        h1 {
            padding-top: 21vh;
            color: black;
        }
    }
}

.square:hover {
    opacity: 0.9;
}