@import "../../index.scss";

.portfolio-row, .page {
    background-color: $default-bg-color;
    overflow-x: hidden;
}

.page {
    padding: 0 !important;
    min-height: 100vh;

    .error, .loading {
        color: white;
        font-size: 4rem;
        text-align: center;
        margin-top: 40vh;
    }

    .header {
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    .header {
        color: white;
    }
    
    .header, h6 {
        text-align: center;
    }

    .portfolio-row {
        $horizMargin: 2vw;
        padding-left: $horizMargin;
        padding-right: $horizMargin;

        .project-display {  
            position: relative; 
            background-color: #EEEEEE;
    
            img {
                width: 100%;
                cursor: pointer;
            }
    
            h6 {
                color: black;
                background-color: white;
                position: absolute;
                bottom: 0;
                margin-bottom: 0 !important;
                width: 100%;
            }
        }
    }
}