#portfolio {
    background-color: lightgreen;
    padding: 80px 15%;

    .header {
        padding-bottom: 2vh;
        color: black;
        text-align: center;
    }

    .project-col {
        padding: 16px;

        .project-display {  
            width: 100%;
            height: 100%;
            cursor: pointer;

            .img {
                width: 100%;
                height: 275px;
            }
    
            .label {
                text-align: center;

                .name {
                    margin: 0;
                }
            } 
        }
    }
}