@import "../../index.scss";

.page {
    background-color: $default-bg-color;

    .about-row {
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 5vw;

        img {
            float: right;
            height: 70vh;
            width: 30vw;
        }

        h1 {
            margin-bottom: 5vh;
        }
    
        h1, .description {
            color: white;
            padding-left: 2vw;
        }
    }
}