#about {
    background-color: white;
    color: black;
    padding: 80px 15%;

    #left-col {
        text-align: center;

        img {
            padding: 20px 0;
        }

        #name {
            font-size: 3rem;
        }
    }  
    
    #right-col {

        #title {
            font-size: 3rem;
        }
    
        #description {
            font-size: 1.25rem;
        }
    }
}