.row {
    background-color: #121a35;

    .col-12 {
        padding: 0;
    }

    $colPadding: 2.5px;
    .pad-right {
        padding-right: $colPadding;
    }
    .pad-left {
        padding-left: $colPadding;
    }
    .pad-top {
        padding-top: $colPadding;
    }
    .pad-bot {
        padding-bottom: $colPadding;
    }

    @media only screen and (max-width: 767px) {
        .col-12 {
            padding: 0;
            padding-bottom: 5px;
        }

        .col-12:last-child {
            padding-bottom: 0;
        }
      }
}

img {
    position: relative;
    width: 300px;
    margin-left: 41vw;
    margin-bottom: 50vh;
}
