@import "../../index.scss";
.page {
    height: 100vh;

    form {
        color: white;
        background-color: $default-bg-color;
        padding-top: 3%;

        $horizPadding: 25%;
        padding-left: $horizPadding;
        padding-right: $horizPadding;

        h1 {
            padding-bottom: 2%;
        }
        
        .required {
            color: red;
        }

        button {
            margin-bottom: 5vh;
        }
    }
}