@import "../../index.scss";
.page {
    height: 100vh;

    form {
        color: white;
        background-color: $default-bg-color;

        padding-top: 8vh;

        $horizPadding: 25vw;
        padding-left: $horizPadding;
        padding-right: $horizPadding;

        h1 {
            padding-bottom: 2vh;
        }

        button {
            margin-bottom: 1vh;
        }

        .success {
            color: lightgreen;
        }
        
        .required, .form-error {
            color: red;
        }
    }
}